@model DmvCalculationResult

@{
    ViewBag.Title = "DMV Izračun";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>DMV Izračun</h3>

<div class="row content-background dmvcalculationresult">
    <div class="col-md-6">
        <ul class="list-unstyled">
            @if (this.Model.MobileDeCar != null)
            {
                <li>
                    @Html.LabelFor(model => model.MobileDeCar.CreatedOn)
                    @Html.SpanFor(model => model.MobileDeCar.CreatedOn)
                </li>
                <li>
                    @Html.LabelFor(model => model.MobileDeCar.Model)
                    <span><a href="@this.Model.MobileDeCar.Url">@this.Model.MobileDeCar.Model</a></span>
                </li>
            }
            <li>
                @Html.LabelFor(model => model.DmvCalculation.CreatedOn)
                @Html.SpanFor(model => model.DmvCalculation.CreatedOn)
            </li>
            <li>
                @Html.LabelFor(model => model.DmvCalculation.VehicleTypeId)
                @Html.SpanFor(model => model.DmvCalculation.VehicleTypeId.ToString())
            </li>
            <li>
                @Html.LabelFor(model => model.DmvCalculation.Co2EmissionsValue)
                @Html.SpanFor(model => model.DmvCalculation.Co2EmissionsValue)
            </li>
            <li>
                @Html.LabelFor(model => model.DmvCalculation.EnginePowerKw)
                @Html.SpanFor(model => model.DmvCalculation.EnginePowerKw)
            </li>
            <li>
                @Html.LabelFor(model => model.DmvCalculation.EngineDisplacementCcm)
                @Html.SpanFor(model => model.DmvCalculation.EngineDisplacementCcm)
            </li>            
            <li>
                @Html.LabelFor(model => model.DmvCalculation.EuroExhaustTypeId)
                @Html.SpanFor(model => model.DmvCalculation.EuroExhaustTypeId.ToString())
            </li>
            <li>
                @Html.LabelFor(model => model.DmvCalculation.FuelTypeId)
                @Html.SpanFor(model => model.DmvCalculation.FuelTypeId.DisplayName())
            </li>
            <li>
                @Html.LabelFor(model => model.DmvCalculation.AtLeastEightSeatsVehicle)
                @Html.SpanFor(model => model.DmvCalculation.AtLeastEightSeatsVehicle ? "Da" : "Ne")
            </li>
            <li>
                @Html.LabelFor(model => model.DmvCalculation.VehicleValue)
                @Html.SpanFor(model => model.DmvCalculation.VehicleValue.ToString("C"))
            </li>
            <li class="important-data">
                @Html.LabelFor(model => model.DmvCalculation.TotalVehicleTaxRate)
                @Html.SpanFor(model => model.DmvCalculation.TotalVehicleTaxRate * 100)
            </li>
            <li class="important-data">
                @Html.LabelFor(model => model.DmvCalculation.TaxTotalValue)
                @Html.SpanFor(model => model.DmvCalculation.TaxTotalValue.ToString("C"))
            </li>
            <li class="important-data">
                @Html.LabelFor(model => model.DmvCalculation.TotalVehicleValueWithTax)
                @Html.SpanFor(model => model.DmvCalculation.TotalVehicleValueWithTax.ToString("C"))
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul class="list-unstyled">
            @if (this.Model.MobileDeCar != null)
            {
                <li>
                    @*@Html.LabelFor(model => model.MobileDeCar.ImageUrl)*@
                    <span><img class="img-rounded" src="@this.Model.MobileDeCar.ImageUrl" /></span>
                </li>
            }
        </ul>
    </div>
</div>

<a href="@Url.Action(MVC.Dmv.Index())">Izračunaj si DMV &raquo;</a>
